<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/HomeLayout/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Math Quiz</h5>
                            <h1 class="display-3 text-white animated slideInDown">Ôn tập và luyện thi đa khối học cùng <span class="text-primary">LuyenToan.VN</span></h1>
                            <p class="fs-5 text-white mb-4 pb-2">Chuẩn bị tốt cho kỳ thi với tài liệu chất lượng và bài tập đa dạng.</p>
                            <a asp-action="Index" asp-controller="Exam" asp-area="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/HomeLayout/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Học hiệu quả với <span class="text-primary">LuyenToan.VN</span></h1>
                            <p class="fs-5 text-white mb-4 pb-2">Phương pháp giảng dạy tiên tiến và các bài tập tương tác giúp bạn nắm vững kiến thức.</p>
                            <a asp-action="Index" asp-controller="Exam" asp-area="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/HomeLayout/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Tiến xa trên con đường thành công với <span class="text-primary">LuyenToan.VN</span></h1>
                            <p class="fs-5 text-white mb-4 pb-2">Hãy rèn luyện kỹ năng làm bài thi và vượt qua mọi thử thách để đạt thành công.</p>
                            <a asp-action="Index" asp-controller="Exam" asp-area="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
